{{ "<!-- About section -->" | safeHTML }}
<section>
    {{ with .Site.Params.about.title }}<h3 id="about-me">{{ . }}</h3>{{ end }}

    {{ with .Site.Params.about.bio }}
    <div class="blurb">
        <p>
            Gemeinsam musizieren, Klänge genießen, auslösen und entdecken - Teilhabe an und durch Musik für jeden, auch für Menschen die sonst nur eingeschränkt oder erschwert diese Möglichkeit haben - das ist die Vision von imui e.V.
            <br>Dafür entwickeln wir barrierefreie, digitale Musikinstrumente.
            <br><a>Hier</a> können Sie uns unterstützen.
        </p>
    </div>
    {{ end }}
</section>
