{{ "<!-- Donators section -->" | safeHTML }}
<section class="section-clients">
    {{ with .Site.Data.donators.title }}<h3 id="donators">{{ . }}</h3>{{ end }}

    <div class="clients-mobile-nav">
    {{ range $i, $e := .Site.Data.donators.list }}
	    {{ if eq $i 0 }}
	    <span class="active-client"></span>
	    {{ else }}
	    <span></span>
	    {{ end }}
    {{ end }}
    </div>

    <div class="clients-belt">
    {{ range $i, $e := .Site.Data.donators.list }}
    <div class="client-unit {{ if eq $i 0 }}active-client{{ end }}">   <!-- CONDITIONAL CSS CLASS -->
        <div class="client-content">
            {{ .quote | markdownify }}
        </div>
    </div>
    {{ end }}
	</div>

    <div class="client-controls">
        <div class="client-control-next">{{ partial "icons/icon-next.html" . }}</div>
        <div class="client-control-prev">{{ partial "icons/icon-prev.html" . }}</div>
    </div>

    <div class="clients-logos">
    {{ range $i, $e := .Site.Data.donators.list }}
    	<img class="client-logo" src="img/donators/{{ .logo }}" align="{{ .logo }}">
    {{ end }}
    </div>

</section>
