{{ "<!-- Header section -->" | safeHTML }}
<header id="header">
    <div id="particles-js"></div>
    <nav>
        {{ with .Site.Params.about.title }}<a href="#about-me">{{ . }}</a>{{ end }}
        {{ with .Site.Data.projects.title }}<a href="#projects">{{ . }}</a>{{ end }}
        {{ with .Site.Params.donation.title }}<a href="#donation">{{ . }}</a>{{ end }}
        {{ with .Site.Data.donators.title }}<a href="#donators">{{ . }}</a>{{ end }}
        {{ with .Site.Params.contact.title }}<a href="#contact">{{ . }}</a>{{ end }}
    </nav>
    <div id="header-logo">
        {{ with .Site.Params.header.title }}<h1><span>{{ . }}</span></h1>{{ end }}
        {{ with .Site.Params.header.shortBio }}<p class="kicker">{{ . }}</p>{{ end }}
    </div>
</header>
